In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import warnings

%matplotlib inline

In [2]:
#import organisations customer = true df
Italy_covid19_df = pd.read_csv("/Users/perliljekvist/Documents/Italy Covid-19/covid19_italy_region.csv", 
                               encoding='utf-8')

In [3]:
#initial eda

#Italy_covid19_df.shape
#Italy_covid19_df.tail(10)
#Italy_covid19_df['RegionName'].unique()
Italy_covid19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798 entries, 0 to 797
Data columns (total 17 columns):
SNo                          798 non-null int64
Date                         798 non-null object
Country                      798 non-null object
RegionCode                   798 non-null int64
RegionName                   798 non-null object
Latitude                     798 non-null float64
Longitude                    798 non-null float64
HospitalizedPatients         798 non-null int64
IntensiveCarePatients        798 non-null int64
TotalHospitalizedPatients    798 non-null int64
HomeConfinement              798 non-null int64
CurrentPositiveCases         798 non-null int64
NewPositiveCases             798 non-null int64
Recovered                    798 non-null int64
Deaths                       798 non-null int64
TotalPositiveCases           798 non-null int64
TestsPerformed               798 non-null int64
dtypes: float64(2), int64(12), object(3)
memory usage: 106.1+ KB

In [4]:
Italy_covid19_df['Date'] = Italy_covid19_df['Date'].astype('datetime64[ns]')

In [5]:
#Italy_covid19_df.info()
Italy_covid19_df.tail(10)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
788,788,2020-04-01 17:00:00,ITA,14,Molise,41.557748,14.659161,32,8,40,91,131,16,19,10,160,1157
789,789,2020-04-01 17:00:00,ITA,1,Piemonte,45.073274,7.680687,3146,453,3599,4871,8470,494,439,886,9795,30060
790,790,2020-04-01 17:00:00,ITA,16,Puglia,41.125596,16.867367,637,107,744,1012,1756,143,61,129,1946,15209
791,791,2020-04-01 17:00:00,ITA,20,Sardegna,39.215312,9.110616,119,27,146,529,675,23,36,34,745,5501
792,792,2020-04-01 17:00:00,ITA,19,Sicilia,38.115697,13.362357,496,72,568,976,1544,71,86,88,1718,16836
793,793,2020-04-01 17:00:00,ITA,9,Toscana,43.769231,11.255889,1120,297,1417,3015,4432,259,182,253,4867,36575
794,794,2020-04-01 17:00:00,ITA,4,P.A. Trento,46.068935,11.121231,345,76,421,1062,1483,124,214,173,1870,7675
795,795,2020-04-01 17:00:00,ITA,10,Umbria,43.106758,12.388247,173,45,218,646,864,17,194,37,1095,9080
796,796,2020-04-01 17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,85,27,112,428,540,3,32,59,631,1717
797,797,2020-04-01 17:00:00,ITA,5,Veneto,45.434905,12.338452,1718,350,2068,6156,8224,470,902,499,9625,112746

In [6]:
#bin italy in Northern, Mid and southern regions

conditions = [
    (Italy_covid19_df['RegionName'] == "Lombardia"),
    (Italy_covid19_df['RegionName'] == "Veneto"),
    (Italy_covid19_df['RegionName'] == "Piemonte"),
    (Italy_covid19_df['RegionName'] == "Valle d'Aosta"),
    (Italy_covid19_df['RegionName'] == "Liguria"),
    (Italy_covid19_df['RegionName'] == "Toscana"),
    (Italy_covid19_df['RegionName'] == "Emilia Romagna"),
    (Italy_covid19_df['RegionName'] == "P.A. Trento")]

choices = ['North', 'North', 'North', 'North', 'North', 'North', 'North', 'North']

Italy_covid19_df['SouthMidNorth'] = np.select(conditions, choices, default='null')

Italy_covid19_df[Italy_covid19_df['RegionName'].isin(['Lombardia', 
                                                      'Veneto', 
                                                      'Piemonte', 
                                                      'Valle d\'Aosta', 
                                                      'Toscana', 
                                                       'Emilia Romagna',
                                                       'P.A. Trento'])]

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed,SouthMidNorth
9,9,2020-02-24 18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,166,0,6,172,1463,North
12,12,2020-02-24 18:00:00,ITA,1,Piemonte,45.073274,7.680687,2,0,2,1,3,3,0,0,3,141,North
16,16,2020-02-24 18:00:00,ITA,9,Toscana,43.769231,11.255889,0,0,0,0,0,0,0,0,0,140,North
17,17,2020-02-24 18:00:00,ITA,4,P.A. Trento,46.068935,11.121231,0,0,0,0,0,0,0,0,0,3,North
19,19,2020-02-24 18:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,0,0,0,0,0,0,0,0,0,7,North
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,789,2020-04-01 17:00:00,ITA,1,Piemonte,45.073274,7.680687,3146,453,3599,4871,8470,494,439,886,9795,30060,North
793,793,2020-04-01 17:00:00,ITA,9,Toscana,43.769231,11.255889,1120,297,1417,3015,4432,259,182,253,4867,36575,North
794,794,2020-04-01 17:00:00,ITA,4,P.A. Trento,46.068935,11.121231,345,76,421,1062,1483,124,214,173,1870,7675,North
796,796,2020-04-01 17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,85,27,112,428,540,3,32,59,631,1717,North
797,797,2020-04-01 17:00:00,ITA,5,Veneto,45.434905,12.338452,1718,350,2068,6156,8224,470,902,499,9625,112746,North

In [7]:
Italy_covid19_df["RegionName"].unique()

array(['Abruzzo', 'Basilicata', 'P.A. Bolzano', 'Calabria', 'Campania',
       'Emilia-Romagna', 'Friuli Venezia Giulia', 'Lazio', 'Liguria',
       'Lombardia', 'Marche', 'Molise', 'Piemonte', 'Puglia', 'Sardegna',
       'Sicilia', 'Toscana', 'P.A. Trento', 'Umbria', "Valle d'Aosta",
       'Veneto'], dtype=object)

In [10]:
#death decimated df by region and date

deaths_df = Italy_covid19_df

deaths_df = Italy_covid19_df[['Date', 'RegionName', 'Deaths']]

deaths_df

                   Date     RegionName  Deaths
0   2020-02-24 18:00:00        Abruzzo       0
1   2020-02-24 18:00:00     Basilicata       0
2   2020-02-24 18:00:00   P.A. Bolzano       0
3   2020-02-24 18:00:00       Calabria       0
4   2020-02-24 18:00:00       Campania       0
..                  ...            ...     ...
793 2020-04-01 17:00:00        Toscana     253
794 2020-04-01 17:00:00    P.A. Trento     173
795 2020-04-01 17:00:00         Umbria      37
796 2020-04-01 17:00:00  Valle d'Aosta      59
797 2020-04-01 17:00:00         Veneto     499

[798 rows x 3 columns]